<% provide(:title, "Log In") %>

<h1>Login</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control input-sm chat-input"%><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control input-sm chat-input"%><br>

  <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
<% end %>
