<% provide(:title, "Log In") %>

<div class="row" id="add-top-padding">
  <div class="col-md-4 col-centered">
    <h1>Welcome back.</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control input-sm chat-input"%><br>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control input-sm chat-input"%><br>

      <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
</div>
