<% provide(:title, "Sign Up") %>

<h1>New User</h1>
<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control input-sm chat-input"%><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control input-sm chat-input"%><br>

  <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
<% end %>
