<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <%= link_to "Private Events", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "Create Event", new_event_url, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log Out", logout_url, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_url, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log In", login_url, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
